<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理首页</title>
    <script sr="{{ url_for('static', filename='lib/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/layui/layui.all.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui/css/layui.css') }}">
</head>
<body>
    <div class="layui-main">
        <div class="layui-col-md12">
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="/auser/">用户管理</a></li>
                <li class="layui-nav-item" style="float: right;"><a href="/">退出</a></li>
            </ul>
        </div>
        <div class="layui-col-md12 img_show" style="margin-top: 10px;">
            <input type="text" placeholder="输入账号" class="layui-input" id="cx_user" style="display: inline-block; width: 200px;">
            <button class="layui-btn cx_btn">查询</button>
        </div>
        <div class="layui-col-md12">
            <table id="userlist" lay-filter="userList"></table>
        </div>
    </div>
</body>
</html>
<script>
    $(function() {
        var table = layui.table;
        var layer = layui.layer;
        // 构建表格
        function getUserList(sc) {
            table.render({
                elem: '#userList'
                , height: 800
                , url: '/get_line/race' + sc // 数据接口
                , page: true // 开启分页
                , cols: [[ // 表头
                    {field: 'id', title: 'ID', align: 'center', width: 80, hide: 'false'}
                    , {field: 'user', title: '账号', align: 'center'}
                    , {field: 'email', title: '邮箱', align: 'center'}
                    , {field: 'right', title: '操作', width: 150, align: 'center',
                    toolbar: '#action'}
                ]]
            });
        }
        getUserList("");// 与原书不同
        // 查询
        $('#cz_btn').click(function () {
            var cz_user = $('#cz_user').val()
            getUserList(cz_user)
        });
        // 监听工具栏
        table.on('tool(userList)', function (obj) {
            var data = obj.data; // 获取得当前行的数据
            var pid = data.id;
            var layEvent = obj.event;
            if (layEvent === 'del') { 
                // 删除
                $.ajax({
                    url: '/adel/',
                    type: 'post',
                    data: {'pid': pid},
                    dataType: 'json',
                    success: function (res) {
                        if (res.code === 0) {
                            obj.del();
                            layer.msg(res.msg);
                        } else{
                            layer.msg(res.msg)
                        }
                    }
                });
            } else if (layEvent === 'put') {
                // 修改
                var index = layer.open({
                    type: 1,
                    area: ['auto', 'auto'],
                    title: '修改密码',
                    btn: ['确定', '返回'],
                    content: '<div class="layui-input-block" style="margin: 0;width: 400px; text-align: center;"><input class="layui-input" style="width: 300px; display: inline-block;" autocomplete="off"></div>',
                    yes: function () {
                        // 确认修改
                        var pwd = $("input").val();
                        if (pwd.length > 0) {
                            $.ajax({
                                url: '/aput/',
                                type: 'post',
                                data: {'pid': pid, 'pwd': pwd},
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 0) {
                                        layer.msg(res.msg);
                                        layer.close(index);
                                    } else {
                                        layer.msg(res.msg);
                                    }
                                }
                            });
                        }
                    }
                });
            }         
        })
    })
</script>
<script type="text/html" id="action">
    <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="put">修改</a>
</script>
