<!-- 声明文档类型为 HTML5 -->
<!DOCTYPE html>
<!-- 设置语言为英语 -->
<html lang="en">
<!-- 头部区域 -->
<head>
    <!-- 设置字符编码为 UTF-8 -->
    <meta charset="utf-8">
    <!-- 设置页面标题为"主页" -->
    <title>index</title>

</head>
<!-- 主体区域 -->
<body>
                                               
<script>
    function firstPage(pageIndex,pageCount,key)
    {
        if(pageIndex>1) window.location.href="?pageIndex=1&key="+key;
    }
    function prevPage(pageIndex,pageCount,key)
    {
        if(pageIndex>1) { --pageIndex; window.location.href="?pageIndex="+pageI
ndex+"&key="+key; }
    }
    function nextPage(pageIndex,pageCount,key)
    {
        if(pageIndex<pageCount) { ++pageIndex; window.location.href="?pageIndex="+pageIndex+"&key="+key; }
    }
    function lastPage(pageIndex,pageCount,key)
    {
        if(pageIndex<pageCount) { window.location.href="?pageIndex="+pageCount
+"&key="+key; }
    }

    function seekList()
    {
        var key=document.getElementById("key").value.trim();
        window.location.href="?key="+key;
    }
</script>
<style>
    a {text-decoration:none;color:blue}
    a:visited {color:blue}
</style>
<h1 align="center">我的有声图书</h1>
<div style="text-align: center;">
<div style="text-align: center;">
    <p><a href="/login">管理员</a>&nbsp;&nbsp;<input type="text" name="key"
id="key" value="{{key}}"><input type="button" value="搜索" onclick="seekList()"></p>
</div>
<div style="display: inline-block; width: 1300; text-align: left;">
{% for book in books %}
<div style="display: inline-block; width:200px;overflow:hidden;margin-left:
20px;">
    <div style="white-space: nowrap;"><h4>{{book.title}}</h4></div>
    <div><img src="static/{{book.image}}" width="100" height="100"></div>
    <div>编号:{{book.BID}}</div>
    <div>作者:{{book.author}}</div>
    <div>
        <a href="/readBook?BID={{book.BID}}&pageIndex={{pageIndex}}&key={{key}}">图书阅读</a>
    </div>
</div>
{% endfor %}
</div>
<div>
    <p></p>
    <a href="javascript:firstPage({{pageIndex}},{{pageCount}},'{{key}}')">第一页</a>
    <a href="javascript:prevPage({{pageIndex}},{{pageCount}},'{{key}}')">前一页</a>
    <a href="javascript:nextPage({{pageIndex}},{{pageCount}},'{{key}}')">下一页</a>
    <a href="javascript:lastPage({{pageIndex}},{{pageCount}},'{{key}}')">末一页</a>
    第{{pageIndex}}/{{pageCount}}页
</div>                           
</body>
</html>
